# Using the ```tips dataset```. 
## Find me the max total bill of the table who dined on Sunday and tipped at least 2$

In [1]:
import pandas as pd
import seaborn as sns

In [4]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
is_sun = df.day == 'Sun'
is_sun

0       True
1       True
2       True
3       True
4       True
       ...
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

In [9]:
gt_two_dolla = df.tip >= 2
gt_two_dolla

0      False
1      False
2       True
3       True
4       True
       ...
239     True
240     True
241     True
242    False
243     True
Name: tip, Length: 244, dtype: bool

In [13]:
total_two_dolla_sun = df[(df.day == 'Sun') & (df.tip >= 2)]
total_two_dolla_sun

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
6          8.77  2.00    Male     No  Sun  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
185       20.69  5.00    Male     No  Sun  Dinner     5
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3

[67 rows x 7 columns]

In [15]:
total_two_dolla_sun.total_bill.max()

48.17